[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
ruff = "*"
pyspark = "*"
pymongo = "*"
requests = "*"
setuptools = "*"


[requires]
python_version = "3.9"
